<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Datacom Demo Test Suite">
    <test name = "UI Test Automation">
        <classes>
            <class name = "testScripts.ui.DemoScripts" />
        </classes>
    </test>

</suite>